apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
type: Opaque
stringData:
  api-token: <enter token here>
---
apiVersion: v1
kind: Secret
metadata:
  name: letsencrypt-email
type: Opaque
stringData:
  email: <enter token here>